/*
 * master style
 *
 * Authors: AMA
 *
 * Date: nov 11 2021
 *
 */

/* CLASSES */

.bio_h2 {
  font-size: 30px;
  color: white;
}

 .head{
   font-family: monospace;
   color: white;
 }

 .itl_30{
   font-size: 30px;
   font-style: italic;
 }

 .link {
 font-size: 20px;
 color: white;
 font-family: monospace;
 }

 .link:hover {
  background-color: red;
  color: blue;

 }

 .post_auth{
   width: 30%;
 }

 .post_message{
   width: 65%;
 }

 .post_table{
   font-family: monospace;
   color: white;
 }

 .profile_img {
  /* position: absolute; */
  top: 30;
  left: 400;
 }

 .text_center{
  text-align: center;
 }

 .times_table {
   text-align: center;
   border: 1px solid white;
   color: white;
   width: auto;
 }

 .white_20_mono{
   font-size: 20px;
   font-family: monospace;
   color: white;
 }

 /* ID'S */

#admin_head{
  font-size: 40px;
  font-family: monospace;
  color: white;
}

#bio_p {
 font-size: 20px;
 text-shadow: black;
 color: white;
}

#black_body{
  background-image: url(../image/solid_black.jpg);
  background-size: cover;
}

 #head_h1 {
   font-size: 40px;
 }

 #head_p {
   font-size: 25px;
 }

#index_body{
  background-image: url(../image/neon_hall.jpg);
  background-size: cover;
}

#link_h2 {
  color: white;
}

#multi_body{
  background-image: url(../image/solid_black.jpg);
  background-size: cover;
}

#name {
 font-size: 40px;
 font-family: fantasy;
 text-shadow: black;
 color: white;
}

#new_post{
  font-size: 20px;
  font-family: monospace;
  color: white;
}

#profile_body{
  background-image: url(../image/blue_grade.jpg);
  background-size: cover;
}

#user_name{
  font-size: 20px;
  font-family: monospace;
  color: white;
}

#view_posts{
  font-family: monospace;
  font-size: 20px;
  color: white;
}

/* TAGS */

td {
  text-align: center;
  border: 1px solid white;
  color: white;
}

th {
  text-align: center;
  border: 1px solid white;
  color: white;
}
